### School Analysis
helping the school board and mayor make strategic decisions regarding future school budgets and priorities.

* analyze the district-wide standardized test results
* aggregate the data to showcase obvious trends in school performance
* written description of at least two observable trends based on the data.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "PyCitySchools_example/Resources/schools_complete.csv"
student_data_to_load = "PyCitySchools_example/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.rename(columns={'school_name':"School Name","budget":"School Budget",'size':"Student Count", "student_name":"Student Name"},inplace = True)

#print(school_data_complete.columns)
school_data_complete.head(-10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130

In [2]:
#school_data_complete[["reading_score", "math_score"]].describe()
#school_data_complete.info()
#school_data_complete.columns

### Total School Report

In [3]:
# Total number of unique schools
count_records = school_data_complete['school_name'].count()
#print(f'Amount of Records: {count_records}')

count_unique = len(school_data_complete['school_name'].unique())
#print(f'Number of Unique Schools: {len(count_unique)}')

# Total students
#total_students = len(school_data_complete['student_name'].unique())

total_students = len(school_data_complete['Student ID'].unique())
#student_counts = school_data_complete.value_counts()


#print(f'Number of Unique Students: {len(total_students)}')

# Total school budget
school_budget_report = school_data_complete[['school_name', "budget",'size']].drop_duplicates().reset_index(drop=True)
total_budget = school_budget_report["budget"].sum()
#print(f'Total Budget of Schools: {total_budget}')

# averages
avg_math = round(school_data_complete['math_score'].mean(),5)
avg_reading = round(school_data_complete['reading_score'].mean(),5)

#passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
passed_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passed_math = passed_math / float(total_students) * 100

passed_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passed_reading = round(passed_reading / float(total_students) * 100,5)

overall_passed = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passed = round(overall_passed / float(total_students) * 100,5)


details = {
    'Number of Schools' : round(count_unique,),
    'Total Students': ("{:,}".format(total_students)),
    'Total Budget': ("${:,.2f}".format(total_budget)),
    'Average Math score': avg_math,
    'Average Reading score': avg_reading,
    '% Passed Math': passed_math,
    '% Passed Reading': passed_reading,
    '% Overall Passed': overall_passed}


high_level_district_snapshot = pd.DataFrame(list(details.items()))
high_level_district_snapshot.head(15)

                       0               1
0      Number of Schools              15
1         Total Students          39,170
2           Total Budget  $24,649,428.00
3     Average Math score        78.98537
4  Average Reading score        81.87784
5          % Passed Math       74.980853
6       % Passed Reading        85.80546
7       % Overall Passed        65.17233

### School Summary
* School name
* School type
* Total students
* Total school budget
* Per student budget
* Average math score
* Average reading score
* % passing math (the percentage of students who passed math)
* % passing reading (the percentage of students who passed reading)
* % overall passing (the percentage of students who passed math AND reading)

In [25]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [26]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"])['size'].mean()
print(per_school_counts)

school_name
Bailey High School       4976.0
Cabrera High School      1858.0
Figueroa High School     2949.0
Ford High School         2739.0
Griffin High School      1468.0
Hernandez High School    4635.0
Holden High School        427.0
Huang High School        2917.0
Johnson High School      4761.0
Pena High School          962.0
Rodriguez High School    3999.0
Shelton High School      1761.0
Thomas High School       1635.0
Wilson High School       2283.0
Wright High School       1800.0
Name: size, dtype: float64

In [6]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
#print(per_school_budget)
per_school_capita = per_school_budget / per_school_counts
#print(per_school_capita)

In [28]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
#print(per_school_math)
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
#print(per_school_reading)

In [37]:
# Calculate the number of schools with math scores of 70 or higher
per_school_passing_math = school_data_complete.groupby(["school_name"])["math_score"]>=70 * 100
print(per_school_passing_math)

77.048432    False
83.061895    False
76.711767    False
77.102592    False
83.351499    False
77.289752    False
83.803279    False
76.629414    False
77.072464    False
83.839917    False
76.842711    False
83.359455    False
83.418349    False
83.274201    False
83.682222    False
Name: math_score, dtype: bool

In [ ]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = 0

In [ ]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
#print(passing_math_and_reading)

# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [ ]:
# Use the provided code to calculate the passing rates
#per_school_passing_math = 0
per_school_passing_reading = 0
overall_passing_rate = 0
#per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
#overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
#headers = ['School Type','Total Students','Total Budget','Per Student Budget','Average Math score','Average Reading score','% Passed Math','% Passed Reading','% Overall Passed']
#index = [school_types,per_school_counts, per_school_budget, per_school_capita, per_school_math, per_school_reading, per_school_passing_math, per_school_passing_reading, overall_passing_rate]


per_school_summary = pd.DataFrame()
per_school_summary.sort_index(axis=0,ascending=True)
per_school_summary['School Type'] = school_types
per_school_summary['Total Students'] = per_school_counts
per_school_summary['Total School Budget'] = per_school_budget
per_school_summary['Per Student Budget'] = per_school_capita
per_school_summary['Average Math score'] = per_school_math
per_school_summary['Average Reading score'] = per_school_reading
per_school_summary['% Passed Math'] = per_school_passing_math
per_school_summary['% Passed Reading'] = per_school_passing_reading
per_school_summary['% Overall Passed'] = overall_passing_rate

# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:.0f}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary.head(15)
# Display the DataFrame
#per_school_summary

In [ ]:
# passing math (the percentage of students who passed math)

# passing reading (the percentage of students who passed reading)

# overall passing (the percentage of students who passed math AND reading)

In [ ]:
#Sort the schools by % Overall Passing in descending order and display the top 5 rows. Save the results in a DataFrame called "top_schools".

In [ ]:
#Sort the schools by % Overall Passing in ascending order and display the top 5 rows.Save the results in a DataFrame called "bottom_schools".

In [ ]:
#Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
#Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [ ]:
# Create a table that breaks down school performance based on average spending ranges (per student).
# Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

pending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]